/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
.btn-rickmorty {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a0e04d !important;
    --bs-btn-border-color: rgb(117, 202, 68) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #68ac0f;
    --bs-btn-hover-border-color: #57910b;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4b8005;
    --bs-btn-active-border-color: #457704;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6a8a41;
    --bs-btn-disabled-border-color: #6a8a41;
}
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

* {
    box-sizing: border-box;
}
p {
    margin-bottom: 0;
}

.card-body_character {
    max-height: 222px;
    min-height: 222px;
    overflow: auto;
}

.table-characters_container {
    max-height: 500px;
    overflow: auto;
}

.card-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-photo {
    width: 300px;
    height: 300px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.86, rgb(153, 255, 106)),
        color-stop(0.72, rgb(38, 226, 0)),
        color-stop(0.44, rgb(37, 160, 0))
    );
}

.active>.page-link,
.page-link.active {
    background-color: #1eaf00 !important;
    border-color: #1eaf00 !important;
}

.my_collection-grid {
    width: 100%;
    height: calc(100vh - 66px);
    background-color: #5bff2d;
    display: grid;
    place-items: center;
}

.my_collection-grid > .container-collection > img {
    width: 40%;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
}

.container-collection {
    max-width: 600px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container-collection:hover img {
    opacity: 0.3;
}

.container-collection img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

/*--------------------------------------------------------------*/

// @font-face {
//     font-family: "Grotesque";
//     src: url('#{$host}BrandonGrotesque-Regular.eot'),
//     url('#{$host}BrandonGrotesque-Regular.ttf'),
//     url('#{$host}BrandonGrotesque-Regular.woff');
//     font-weight: normal;
// }

// @font-face {
//     font-family: "Grotesque Black";
//     src: url('#{$host}BrandonGrotesque-Black.eot'),
//     url('#{$host}BrandonGrotesque-Black.ttf'),
//     url('#{$host}BrandonGrotesque-Black.woff');
//     font-weight: bold;
// }

$big-stone: #152536;
$white: #fff;
$smalt-blue: #4e958b;
$maroon-flush: #C32361;
$black: #000;
$lite-grey: rgba($black, .2);
$lite-big-stone: rgba($big-stone, .7);

$card-width: 180px;
$card-height: 250px;

$thumb-height: 100%;
$thumb-width: 100%;

$border-radius: 3px;
$box-shadow: 0 1px 4px rgba($black, .3);
$transition: cubic-bezier(.17, .67, .5, 1.03);
$timing-1: .4s .15s;
$timing-2: .5s .25s;

$grotesque-black: 'Grotesque Black', sans-serif;
$grotesque-regular: 'Grotesque', sans-serif;
$merriweather: 'Merriweather', sans-serif;

// $new-york-city: '#{$host}new-york-city.png';
// $flag: '#{$host}flag.png';

@mixin pos($pos, $left: null, $top: null, $right: null, $bottom: null) {
    position: $pos;
    left: $left;

    @if $top {
        top: $top;
    }

    @if $left {
        left: $left;
    }

    @if $right {
        right: $right;
    }

    @if $bottom {
        bottom: $bottom;
    }
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

.note {
    margin-top: 30px;
    color: $white;
    font-size: 1rem;
    font-family: $merriweather;
    line-height: 1.5;
    text-align: center;
}

.card-my-collection {
    // @include pos(absolute, 50%, 50%);
    @include size($card-width, $card-height);
    // transform: translate(-50%, -50%) translateZ(0);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;

    .thumb {
        @include size($thumb-width, $thumb-height);
        object-fit: cover;
        // background: url($new-york-city) no-repeat center;
        background-size: cover;
        border-radius: $border-radius;
    }

    .infos {
        @include size(auto, $card-height);
        position: relative;
        padding: 14px 24px;
        background: $white;
        transition: $timing-1 $transition;

        .title {
            position: relative;
            margin: 10px 0;
            letter-spacing: 3px;
            color: $big-stone;
            font-family: $grotesque-black;
            font-size: 1rem;
            text-transform: uppercase;
            text-shadow: 0 0 0px lighten($big-stone, 20);
        }

        .flag {
            @include pos(absolute, $top: 50%, $right: 0);
            transform: translateY(-50%);
            @include size(35px, 23px);
            // background: url($flag) no-repeat top right;
            background-size: 100% auto;
            display: inline-block;
        }

        .date,
        .seats {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: .65rem;
            color: $lite-big-stone;
            font-family: $grotesque-regular;
        }

        .seats {
            display: inline-block;
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid $lite-grey;
            opacity: 0;
            transition: $timing-2 $transition;
        }

        .txt {
            font-family: $merriweather;
            line-height: 2;
            font-size: .95rem;
            color: $lite-big-stone;
            opacity: 0;
            transition: $timing-2 $transition;
        }

        .details {
            @include pos(absolute, $left: 0, $bottom: 0);
            margin: 10px 0;
            padding: 20px 24px;
            letter-spacing: 1px;
            color: $smalt-blue;
            font-family: $grotesque-black;
            font-size: .9rem;
            text-transform: uppercase;
            cursor: pointer;
            opacity: 0;
            transition: $timing-2 $transition;
        }
    }

    &:hover .infos {
        transform: translateY(-$thumb-height);
        background: #7eff54;

        .seats,
        .txt,
        .details {
            opacity: 1;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}